* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    background-color: #dedcd1;
    /* outline: 1px solid blue; */
}

section#main {
    width: 40%;
    margin: auto;
}

form {
    text-align: center;
    padding: 60px;
    border-radius: 15%;
}

h1 {
    text-align: center;
    font-size: 42px;
}

input {
    display: inline-block;
    padding: 10px 15px;
    width: 300px;
    margin: 10px auto;
    font-size: large;
    border: none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.checkbox {
    width: 30px;
    height: 20px;
    box-shadow: none;
    margin-top: 20px;
}

a {
    color: black;
}

button {
    display: block;
    min-width: 200px;
    margin: auto;
    padding: 20px;
    font-weight: 900;
    border-radius: 50px;
}

.title {
    margin: 0 auto;
    font-size: larger;
    color: black;
}